<form action="/posts" method="POST">
    <p><label for='post_name' id='post_name'>Post Name: </label>
      <input type="text" name="name"></p>
    <p><label for='post_content' id='post_content'>Post Content: </label>
      <input type="text" name="content"></p>
    <input type="submit" value="Submit" id="submit">
</form>
